<em class="d-inline-block mb-3">Start the broker, connect some sensors and let the dashboard discover them.</em>

<div *ngIf="things.length === 0" class="text-center">
    <h4>Waiting for sensors to be advertised...</h4>
    <img class="rotating-image" src="assets/images/coaty-logo.svg" width="128" height="128">

</div>

<div *ngIf="things.length > 0" class="text-center">
    Connected things
    <div *ngFor="let u of things;">
        <a class="btn btn-secondary" href="/#/object/{{u.objectId}}">
            {{ u.name }} ({{ u.objectId | truncate: 6}}...)
        </a>
        <br><br>

    </div>
</div>