/* You can add global styles to this file, and also import other style files */

// Include all of Bootstrap source SASS files (with its default variables)
@import "~bootstrap/scss/bootstrap.scss";

.rotating-image {
    left: 50%;
    margin-top: 75px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.graph-container .node text {
    font-size: 0.9em;
    transition: font-size ease-in-out 0.2s;
}
  
.graph-container .node circle {
    fill: #fff;
    stroke: #153ba3;
    stroke-width: 3px;
    transition: r ease-in-out 0.2s;
}
  
.graph-container .node:hover {
    cursor: pointer;
}
  
.graph-container .node:hover text {
    font-size: 1em;
}
  
.graph-container .node:hover circle {
    fill: '#ddd';
}
  
.graph-container .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
