<div class="row" style="margin-left: 20px; margin-right: 20px">
    <div class="row">
        <div class="col-7">
            <app-object-network *ngIf="chartData" [chartData]="chartData"></app-object-network>
        </div>
        <div class="col-5">
            <div *ngIf="root !== undefined" class="mb-3">
                <h4>{{ root.name }}</h4>
                <strong>Object:</strong> {{ root.objectId }} <br/>
                <strong>Coaty Type: </strong> {{ root.coreType }} <br/>
                <strong>Object Type: </strong> {{ root.objectType }}
                <span *ngIf="root.hasOwnProperty('description') !== undefined"><br/>
                    <strong>Description: </strong> {{ root.description }}</span>
            </div>
            <h4 class="mb-3">
                Sensor things objects<span class="float-right">&nbsp;({{ objects.length }})</span>
            </h4>
            <div *ngFor="let o of objects" class="hidden mb-3" id="{{ o.objectId }}">
                <h5>
                    <a href="/#/object/{{ o.objectId }}">{{ o.name }} ({{ o.objectId | truncate: 6
                        }}...)</a>
                </h5>
                <table class="table table-striped table-sm">
                    <tr *ngFor="let key of o | keys">
                        <th>{{ key }}</th>
                        <!-- If value is a reference field : display a link -->
                        <td *ngIf="isLinkedField(o, key)">
                            <a href="/#/object/{{ o[key] }}">{{ o[key] }}</a>
                        </td>
                        <!-- If value not a reference field : don't display a link -->
                        <td *ngIf="!isLinkedField(o, key)">
                            <span *ngIf="isObject(o[key])">
                                <li *ngFor="let property of objectToArray(o[key])">
                                    {{property.key}}: {{property.value}} </li>
                            </span>
                            <span *ngIf="!isObject(o[key])">
                                {{ o[key] }}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col-12" *ngIf="isSensorRoot()">
            <h4 class="mb-3">
                Incoming observations<span class="float-right">&nbsp;({{ observations.length }})</span>
            </h4>
            <div *ngFor="let o of observations" class="mb-3">
                <h5 class="text-nowrap">
                    <a href="/#/object/{{ o.objectId }}">{{ o.name }} ({{ o.objectId | truncate: 6
                        }}...)</a>
                </h5>
                <table class="table table-striped table-sm">
                    <tr *ngFor="let key of o | keys">
                        <th>{{ key }}</th>
                        <!-- If value is a reference field : display a link -->
                        <td *ngIf="isLinkedField(o, key)">
                            <a href="/#/object/{{ o[key] }}">{{ o[key] }}</a>
                        </td>
                        <!-- If value not a reference field : don't display a link -->
                        <td *ngIf="!isLinkedField(o, key)">{{ o[key] }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>