# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Coaty JS Documentation
description: >- # this means to ignore newlines until "baseurl:"
  Coaty JS Framework documentation including Developer Guide, source code
  documentation, Coding Style Guide, specification of the Communication Protocol,
  guidance notes on Rights Management, and a guide on integration of the OGC
  SensorThings API.
baseurl: "/coaty-js" # /projectname for GitHub project pages hosted on https://coatyio.github.io/coaty-js
url: "https://coatyio.github.io" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  coatyio
github:
  - license: false
repository: coatyio/coaty-js

# Build settings
markdown: kramdown
highlighter: rouge
theme: jekyll-theme-primer
permalink: pretty
plugins:

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
exclude:
   - Gemfile
   - Gemfile.lock
   - node_modules
   - vendor/bundle/
   - vendor/cache/
   - vendor/gems/
   - vendor/ruby/
   - README.md

